@page "/radzendemo"
@inject HttpClient Http
@using System.Text.Json


<h1>Radzen Demo</h1>


<RadzenCard Style="height: 500px">
    <RadzenMenu>
        <RadzenMenuItem Text="General" Icon="home">
            <RadzenMenuItem Text="Buttons" Path="buttons" Icon="account_circle"></RadzenMenuItem>
            <RadzenMenuItem Text="Menu" Path="menu" Icon="line_weight"></RadzenMenuItem>
            <RadzenMenuItem Text="FileInput" Path="fileinput" Icon="attach_file"></RadzenMenuItem>
            <RadzenMenuItem Text="Dialog" Path="dialog" Icon="perm_media"></RadzenMenuItem>
            <RadzenMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenMenuItem>
        </RadzenMenuItem>
        <RadzenMenuItem Text="Inputs" Icon="payment">
            <RadzenMenuItem Text="CheckBox" Path="checkbox" Icon="check_circle"></RadzenMenuItem>
            <RadzenMenuItem Text="TextBox" Path="textbox" Icon="input"></RadzenMenuItem>
            <RadzenMenuItem Text="TextArea" Path="textarea" Icon="description"></RadzenMenuItem>
            <RadzenMenuItem Text="Password" Path="password" Icon="payment"></RadzenMenuItem>
            <RadzenMenuItem Text="Numeric" Path="numeric" Icon="aspect_ratio"></RadzenMenuItem>
            <RadzenMenuItem Text="DatePicker" Path="datepicker" Icon="date_range"></RadzenMenuItem>
        </RadzenMenuItem>
        <RadzenMenuItem Text="Data" Icon="save">
            <RadzenMenuItem Text="DataGrid" Path="datagrid" Icon="grid_on"></RadzenMenuItem>
            <RadzenMenuItem Text="DataList" Path="datalist" Icon="list"></RadzenMenuItem>
            <RadzenMenuItem Text="DropDown" Path="dropdown" Icon="dns"></RadzenMenuItem>
            <RadzenMenuItem Text="DropDownDataGrid" Path="dropdown-datagrid" Icon="receipt"></RadzenMenuItem>
            <RadzenMenuItem Text="ListBox" Path="listbox" Icon="view_list"></RadzenMenuItem>
            <RadzenMenuItem Text="TemplateForm" Path="templateform" Icon="line_style"></RadzenMenuItem>
        </RadzenMenuItem>
        <RadzenMenuItem Text="Containers" Icon="account_box">
            <RadzenMenuItem Text="Tabs" Path="tabs" Icon="tab"></RadzenMenuItem>
            <RadzenMenuItem Text="Panel" Path="panel" Icon="content_paste"></RadzenMenuItem>
            <RadzenMenuItem Text="Fieldset" Path="fieldset" Icon="account_balance_wallet"></RadzenMenuItem>
            <RadzenMenuItem Text="Card" Path="card" Icon="line_style"></RadzenMenuItem>
        </RadzenMenuItem>
        <RadzenMenuItem Text="More">
            <RadzenMenuItem Text="Item1"></RadzenMenuItem>
            <RadzenMenuItem Text="Item2"></RadzenMenuItem>
            <RadzenMenuItem Text="More items">
                <RadzenMenuItem Text="More sub items">
                    <RadzenMenuItem Text="Item1"></RadzenMenuItem>
                    <RadzenMenuItem Text="Item2"></RadzenMenuItem>
                </RadzenMenuItem>
            </RadzenMenuItem>
        </RadzenMenuItem>
    </RadzenMenu>
</RadzenCard>

@if (dataTable == null)
{
    <p><em>Loading DataTable...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @foreach (var column in dataTable.Columns)
                {
                    <th>@column.ToString()</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in dataTable.Rows)
            {
                <tr>
                    <td>@row["Column A"].ToString()</td>
                    <td>@row["Column B"].ToString()</td>
                    <td>@row["Column C"].ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private System.Data.DataTable dataTable;

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");

        HttpResponseMessage response = await Http.GetAsync("sample-data/car01.json");
        response.EnsureSuccessStatusCode();
        string responseBody = await response.Content.ReadAsStringAsync();

        using (JsonDocument document = JsonDocument.Parse(responseBody))
        {

            JsonElement root = document.RootElement;

            var properties = root.EnumerateObject().ToList();
            var prop = properties[0];
            Console.WriteLine($"Property Name: {prop.Name}");
            Console.WriteLine("Number of properties " + properties.Count().ToString() );

            var jsonObject = root.GetRawText();
            Console.WriteLine(jsonObject.ToString());
        }


        this.InitalizeTable();
    }

    private void InitalizeTable()
    {
        this.dataTable = new System.Data.DataTable("CarTable");
        dataTable.Columns.Add("Column A");
        dataTable.Columns.Add("Column B");
        dataTable.Columns.Add("Column C");

        var row = dataTable.NewRow();
        row["Column A"] = "Value A";
        row["Column B"] = "Value B";
        row["Column C"] = "Value C";

        dataTable.Rows.Add(row);

        row = dataTable.NewRow();
        row["Column A"] = "Value A";
        row["Column B"] = "Value B";
        row["Column C"] = "Value C";

        dataTable.Rows.Add(row);

    }
}

